.lol{
    font-size: x-large !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Botões{
    background-image: linear-gradient(180deg, rgb(20, 255, 169),rgb(52, 226, 43)) !important;
    width: 100px !important;
    height: 50px !important;
    font-size: larger !important;
    border-radius: 10px !important;
    font-family: 'Courier New', Courier, monospace !important;
    margin-left: 42.5vw;
    font-weight: bolder;
}
.Botões:hover{
    filter: brightness(150%);
}
.crazy{
    margin-left: 20vw;
}
.all{
    margin-top: 32.5vh;
}
.api{
    margin-left: 100px;
    margin-right: 100px;
    
}
